@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900");
/* Body */
* {
  background-color: black;
  font-family: "inter", sans-serif;
}

@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
/* Navbar and animation */
nav {
  animation: adjust-nav linear both;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: flex;
  font-size: large;
  gap: 2%;
  justify-content: space-around;
  margin: 1%;
  padding: 1%;
  position: sticky;
  top: 0px;
}
nav a {
  background-color: rgba(255, 200, 255, 0.1);
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}
nav a:hover {
  color: #f6bd60;
}

@keyframes adjust-nav {
  to {
    background: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    height: 24px;
  }
}
/* Background coding image */
.background-image {
  border-radius: 20px;
  height: 40vh;
  margin: 1%;
  width: 100%;
}

/* Home container */
.home-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
}
.home-container .profile-container {
  height: 2.5vh;
  position: relative;
  width: 17%;
}
.home-container .profile-container .profile-picture,
.home-container .profile-container .personal-info {
  backface-visibility: hidden;
  border-radius: 50%;
  border: 4px solid white;
  bottom: 750%;
  height: 40vh;
  position: absolute;
  right: 200%;
  transition: transform 0.6s ease-in-out;
  width: 100%;
}
@media (max-width: 1024px) {
  .home-container .profile-container .profile-picture,
  .home-container .profile-container .personal-info {
    bottom: 1700%;
    height: 30vh;
    right: 1%;
    width: 150%;
  }
}
@media (max-width: 768px) {
  .home-container .profile-container .profile-picture,
  .home-container .profile-container .personal-info {
    bottom: 950%;
    height: 30vh;
    right: 200%;
    width: 150%;
  }
}
@media (max-width: 450px) {
  .home-container .profile-container .profile-picture,
  .home-container .profile-container .personal-info {
    bottom: 950%;
    height: 30vh;
    right: 150%;
    width: 250%;
  }
}
@media (max-width: 300px) {
  .home-container .profile-container .profile-picture,
  .home-container .profile-container .personal-info {
    bottom: 1300%;
    height: 30vh;
    right: 50%;
    width: 400%;
  }
}
.home-container .profile-container .personal-info {
  align-items: center;
  background-color: black;
  border-radius: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: large;
  justify-content: center;
  text-align: center;
  transform: rotateY(180deg);
}
.home-container .profile-container:hover .profile-picture {
  transform: rotateY(180deg);
}
.home-container .profile-container:hover .personal-info {
  transform: rotateY(0deg);
}

.greeting,
.title-section {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  font-weight: 800;
  margin: 0.5%;
}

.home-container strong {
  color: white;
  font-size: 70px;
  font-style: italic;
  text-shadow: 2px 2px 1px #ffb703;
}

/* Web developer title and animation */
h2 {
  background-color: #ffb703;
  border-radius: 20px;
  border: 2px solid;
  font-size: 50px;
  margin: 2%;
  padding: 10px;
  transition: all 1s;
}

h2:hover {
  background-color: black;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  color: #ffb703;
}

hr {
  border-radius: 20%;
  border: 1.5px solid white;
  width: 70%;
}

.title-section {
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  transition: background-color 2s 500ms;
}

.title-section:hover {
  background-color: #f6bd60;
  border-radius: 10px;
  padding: 3px;
  width: 100%;
}

/* About me section */
.about-me-section {
  display: grid;
  grid-template-columns: subgrid;
  justify-items: center;
}

.self-description {
  background-color: antiquewhite;
  border-radius: 10px;
  color: black;
  font-size: large;
  padding: 1%;
  width: 50%;
}

/* Education section */
.education-section {
  display: grid;
  grid-template-columns: subgrid;
  justify-items: center;
}

ul {
  color: white;
  list-style: none;
  font-size: large;
}

.education-section ul li span {
  color: orange;
  font-family: cursive;
  font-size: larger;
}

.study-icon {
  width: 3.5%;
}

.certification-section {
  display: grid;
  grid-template-columns: subgrid;
  justify-items: center;
  margin: 2% 2%;
}

.english-level-certification {
  align-items: center;
  display: flex;
  gap: 10%;
  justify-content: center;
  margin-top: 2%;
}

.english-level-certification-img {
  border-radius: 15px;
  width: 35%;
}

.english-level-certification-img:hover,
.skills-icons:hover,
.projects-img:hover {
  animation: grow 0.3s forwards;
  background-color: #f6bd60;
  box-shadow: 0px 0px 10px 5px #f6bd60;
  border-radius: 10px;
}

.english-level-certification-span {
  color: white;
  font-size: larger;
  text-align: center;
}

.work-experience-section {
  display: grid;
  grid-template-columns: subgrid;
  justify-items: center;
  margin: 2% 2%;
}

.projects {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.work-experience-introduction {
  color: white;
  font-size: large;
  margin: 2% 2%;
}

.projects ul li a {
  color: orange;
  text-decoration: none;
}

.projects-img {
  margin-bottom: 5%;
  width: 50%;
}

.skills-section {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.skills-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 25px;
}

.skills-icons {
  width: 140%;
}

/* Get in touch section */
.get-in-touch-section {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.social-media-icon {
  width: 100%;
}

.social-media-grid {
  cursor: pointer;
  display: flex;
  gap: 2%;
  justify-content: center;
  width: 20%;
}

.social-media-icon:hover {
  animation: growIcon 0.3s forwards;
  box-shadow: 0px 0px 5px 2px #f6bd60;
  border-radius: 10px;
}

@media (max-width: 768px) {
  nav,
  .about-me-section,
  .certification-section,
  .education-section,
  .greeting,
  .personal-info,
  .skills-section,
  .title-section,
  .work-experience-section {
    display: none;
  }
  .business-card-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .business-card-phrase {
    color: white;
    font-family: cursive;
    font-size: 25px;
    font-weight: bold;
  }
  .business-card-phrase span {
    font-weight: 400;
  }
  .profile-container {
    left: 40%;
  }
  .home-container strong {
    font-size: 40px;
  }
  h2 {
    font-size: 35px;
  }
  .social-media-grid {
    padding: 10%;
    width: 70%;
  }
}
@media (max-width: 1700px) {
  .personal-info {
    display: none;
  }
}
@media (max-width: 1024px) {
  nav {
    display: none;
  }
}
@media (max-width: 450px) {
  .get-in-touch-section {
    display: none;
  }
  .personal-info {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
  }
}/*# sourceMappingURL=index.css.map */